.btn1 {
  background-color: $blue;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: violet;
    color: black;
    transition: 0.5s;
  }
  @include para;
}

.btn2 {
  margin-inline: 10%;
  background-color: $orange;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: violet;
    color: black;
    transition: 0.5s;
  }
  @include para;
}

.btn3 {
  background-color: $green;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: violet;
    color: black;
    transition: 0.5s;
  }
  @include para;
}
