@mixin floating($border-radius: null, $box-shadow: null, $border: null) {
  @if $border-radius {
    border-radius: $border-radius;
  }

  @if $box-shadow {
    box-shadow: $box-shadow;
    transition: box-shadow 0.5s;
  }

  @if $border {
    border: $border;
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.my-application {
  @include floating(10px, 2px 2px 4px rgba(0, 0, 0, 0.1), 1px solid black);
}

.my-application-noborder {
  @include floating(10px, 4px 6px 4px);
}
