@mixin floating($border-radius: null, $box-shadow: null, $border: null) {
  @if $border-radius {
    border-radius: $border-radius;
  }

  @if $box-shadow {
    box-shadow: $box-shadow;
    transition: box-shadow 0.5s;
  }

  @if $border {
    border: $border;
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.my-application {
  @include floating(10px, 6px 2px 4px rgba(0, 0, 0, 0.1), 1px solid black);
}

.my-application-noborder {
  @include floating(10px, 4px 6px 4px);
}

@mixin grid($num-emelents-per-line: 3) {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 0 calc(100% / #{$num-emelents-per-line});
    box-sizing: border-box;
    padding: 6px;
    margin-inline: 2%;
  }
}

.mygrid {
  @include grid(6);
}
