$spacing-values: (
  sm: 8px,
  normal: 16px,
  md: 24px,
  lg: 32px,
  xl: 48px,
  xxl: 64px,
);

$directions: "inline", "block";
@each $axis in $directions {
  @each $size, $value in $spacing-values {
    .padding-#{$size} {
      padding: value;
    }
    .margin-#{$size} {
      margin: value;
    }
    .padding-#{$axis}-#{$size} {
      padding-#{$axis}: $value;
    }
    .margin-#{$axis}-#{$size} {
      margin-#{$axis}: $value;
    }
  }
}
