@import "reset";
@import "color";
@import "font";
@import "spaziature";
@import "button";
@import "mixins";
@import "animation";

//header start

header nav {
  display: flex;
  width: 100%;

  padding-inline: 5%;
  padding-block: 40px;
  align-items: center;
  background-color: lightgray;

  ul {
    display: flex;
    justify-content: space-around;
    width: 40%;

    li {
      list-style-type: none;
      a {
        text-decoration: none;
        font-size: 30px;
        &:hover {
          background-color: rgb(118, 0, 118);
          padding: 10px;
          color: white;
          border-radius: 30px;
          transition: 0.5s;
        }
      }
    }
  }
}

#container-head {
  padding-inline: 5%;
  background: $bg_hero;
  color: $textColor;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-inline: 2%;
  border-radius: 35px;
  h1 {
    @include title-big;
  }
  p {
    @include para;
  }
}

// header end

// main
#container-img {
  width: 100%;
  display: flex;
  justify-content: space-around;

  div {
    width: 20%;
    img {
      width: 100%;
    }
  }
}

// main
